<tr>
    <td><%= trunctated_id %></td>
    <td><%= trunctated_title %></td>
    <td><%= trunctated_body %></td>
    <td>
	<a href="<%= show_action %>">
	    Show
	</a>
    </td>
    <td>
	<a href="<%= edit_action %>">
	    Edit
	</a>
    </td>
    <td>
	<a href="<%= delete_action %>">
	    Delete
	</a>
    </td>
</tr>
